* {
  font-family: "Futura", sans-serif;
  box-sizing: border-box;
}

:root {
  --red: #B11148;
  --darkRed: #FF00004D;
  --green: #A5D0D0;
  --greenTransparent: #A5D0D020;
  --darkGreen: #2F4F4F;
  --darkGreenTransparent: #2F4F4F80;
  --shadow: 0 5px 15px var(--darkGreenTransparent);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--greenTransparent);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-left: 8vw;
  margin-top: 20px;
}

header > h2 {
  margin-bottom: 5px;
}

#howTo {
  text-decoration: underline;
}

#dropdown {
  pointer-events: none;
  
  width: 80vw;
  padding: 20px;
  
  opacity: 0;
  background-color: white;
  border: 5px solid var(--green);
  border-radius: 20px;
  
  transition: opacity 0.3s ease-in, top 0.6s ease-out;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#dropdown p:last-child {
  margin: 0;
}

#close {
  margin: -15px 0 10px -5px;
  color: black;
  transition: color 0.2s ease;
}

#close:hover {
  color: var(--red);
  transition: color 0.2s ease;
}

#dropdown.open {
  padding: 20px;
  
  pointer-events: auto;
  top: 50%;
  z-index: 10;
  
  opacity: 1;
  
  transition: opacity 0.3s ease-in,top 0.6s ease-out;
}

#overlay {
  background-color: rgba(0,0,0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  
  opacity: 0;
  pointer-events: none;
  
  transition: opacity 0.3s ease-in;
}

#overlay.darken {
  opacity: 1;
  transition: opacity 0.3s ease-in;
  z-index: 9;
}

#flexBox {
  display: flex;
  justify-content: center;
}

#boxes {
  display: grid;
  grid-template-columns: repeat(13,1fr);
  grid-template-rows: repeat(13,1fr);
  
  width: 90vw;
  
  border-radius: 10px;
  aspect-ratio: 1/1;
  
  border: solid 1px var(--darkGreen);
  background-color: white;
  box-shadow: var(--shadow);
}

#boxes .cell:first-child {border-top-left-radius: 8.5px;}
#boxes .cell:nth-child(13) {border-top-right-radius: 8.5px;}
#boxes .cell:nth-child(157) {border-bottom-left-radius: 8.5px;}
#boxes .cell:last-child {border-bottom-right-radius: 8.5px;}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--darkGreen);
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

.cell.wrong {
  background-color: var(--darkRed);
}

.cell.null {
  background-color: var(--darkGreen);
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1
}

.cell.highlight {
  background-color: var(--green);
}

input {
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  font-size: 0.8rem;
  padding: 0;
}

input[type="number"] {
  --moz-appearance: textfield;
}

input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.invalid {
  color: #FF0000;
}

input:focus {
  outline: none;
}

#buttons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px;
}

button {
  all:unset;

  background-color: var(--darkGreen);
  color: whitesmoke;
  min-height: 25px;
  max-height: auto;
  text-align: center;
  border-radius: 25px;
  transition: all 0.5s ease;
  margin: 0 10px;
  padding: 3px 15px;
  box-shadow: var(--shadow);
  font-size: 0.8rem;
}

button:hover {
  background-color:var(--darkGreenTransparent);
}

#answerCheck.active{
  background-color: var(--red);
}

#bankContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: solid 5px var(--darkGreen);
  border-radius: 20px;
  padding-bottom: 20px;
  width: 90vw;
  margin: 0 auto;
  box-shadow: var(--shadow);
}

#bankContainer .header {
  background-color: var(--darkGreen);
  width: 100%;
  height: 100%;
  padding: 8px 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

#bankContainer h2 {
  color: white;
}


#numBank {
  column-count: 3;
  gap: 20px;
  text-align: left;
  margin-top: 20px;
}

.lengthGroup:nth-child(1) {
  margin-top: -23px;
}

h2 {
  margin: 0;
}

h4 {
  font-size: .9rem;
  margin-bottom: -15px;
}

p, a {
  margin: 0 0 20px;
  font-size: 15px;
  text-align: center;
}

a {
  color: var(--darkGreen);
}

a:hover {
  color: var(--red);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.grey {
  color: lightgrey;
}

@media screen and (min-width:650px) {

  header {
    width: 50vw;
    justify-content: center;
    margin-left: 0;
  }

  input {
    font-size: 1.5rem;
  }

  #dropdown {
    width: 40vw;
  }

  #noHeader {
    display: flex;
    flex-direction: row;
  }

  #puzzleAndButtons {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
  }

  #boxes {
    width:50vw;
  }

  #flexBox {
    width: 40vw;
  }

  #puzzleAndButtons {
    align-items: center;
  }

  #buttons {
    width: 50vw;
    justify-content: center;
  }

  #bankContainer {
    justify-content: flex-end;
    width: 45vw;
  }

  #numBank {
  column-count: 4;
  width: 80%;
  height: 100%;
}

  li {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }
}